<head>
    <title>{{site.title}}{% if page.title %}: {{ page.title }}{% else %}: {{ site.tagline }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="Keywords" content="zzt,jzt,game,web game,javascript,html5" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{site.title}}{% if page.title %}: {{ page.title }}{% else %}: {{ site.tagline }}{% endif %}" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:image" content="{{site.url}}/assets/img/mines-of-jzt.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if site.production %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3HNZVPJKSG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-3HNZVPJKSG');
    </script>
    {% endif %}

</head>
