body {
    background-color: #555;
}

#game-area {

    background-color: #555;
    width: 800px;
    height: 640px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    button {
        height: 100%;
        width: 100%;
        background-color: black;
        color: white;
        font-size: 12pt;
        font-family: monospace;
        border: none;
    }

    canvas {
        height: 100%;
    }

}