#feature {

    padding: 4em 0;
    background-color: #777;
    background: repeating-radial-gradient(circle, #555, #555 30px, #5A5A5A 30px, #5A5A5A 60px);
    box-shadow: 0 2px 3px rgba(0,0,0,0.25);
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    section {
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        gap: 4em;
        width: 100%;
        box-sizing: border-box;

        @include medium-up {
            flex-direction: row;
        }

        @include large {
            width: $desktop-min;
        }
    }
    
    h1 {
        font-size: 2.2em;
        font-weight: bolder;
        margin-top: 0;
    }

    p, a {
        font-size: 1.3em;
        font-weight: normal;

        strong {
            font-weight: 800;
        }

        &.button {
            display: inline-block;
            font-weight: 800;
            padding: .5em 2em;
            border-radius: 3px;
            background-color: #55f;
            color: white;
            box-shadow: .25em .25em 1em rgba(0,0,0,0.25);
            transition: all .25s;
            
            &:hover {
                text-decoration: none;
                background-color: rgb(105, 105, 253);
                box-shadow: .25em .35em 1.1em rgba(0,0,0,0.25);
                transform: translateY(-.1em);
            };
        }

    }

    img {
        background-color: black;
        border-radius: 3px;
        box-shadow: .5em .5em 1em rgba(0,0,0,0.25);
        width: 100%;
        border: 20px solid black;
        box-sizing: border-box;
    }

}

.homepage {

    margin: 4em 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 2em;

    @include medium-up {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        column-gap: 4em;
    }

}