.game {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 2em auto 0 auto;
}

#settings-bar {

    display: flex;
    justify-content: end;
    background-color: #1A1A1A;
    width: 100%;
    overflow: hidden;
    max-height: 60px;
    transition: max-height 1s ease-in;

    &.inactive {
        max-height: 0;
        transition: max-height 1s ease-out;
    }

    .button {
        width: 24px;
        height: 24px;
        margin: 1em;

        &.active {
            svg .strike {
                fill: tomato;
            }
        }

        svg {
            width: 24px;
            height: 24px;

            path, polygon {
                stroke: AAA;
                fill: AAA;
            }

            &:hover {

                path, polygon {
                    stroke: white;
                    fill: white;
                }

                cursor: pointer;

            }

        }

    }

}

#game-area {

    background-color: #555;

    .start {
        display: flex;
        aspect-ratio: 5/4;
        object-fit: contain;
        background: #1A1A1A;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(69,69,69,1) 100%);
        color: white;
        font-size: 12pt;
        font-family: monospace;
        align-content: center;
        align-items: center;
        gap: 30px;
        justify-content: center;
        flex-direction: column;

        .instructions {
            font-weight: bold;
            font-size: 1.2em;
            display: inline-block;
        }

        .keyboard-required {
            opacity: 0;
            transition: opacity 5s ease-out;
            color: silver;
            display: inline-block;
        }

        .keyboard-required.active {
            opacity: 1;
        }

        img {
            width: 32px;
            vertical-align: middle;
        }
    }

    canvas {
        aspect-ratio: 5/4;
        object-fit: contain;
        width: 100%;
        height: 100%;
        display: none;
        &.active {
            display: block;
        }
    }

    .alert {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,.9);
        box-shadow: 0 0 50px rgba(0,0,0,.25);
        color: black;

        .wrapper {
            padding: 20px;
        }

        .close {
            position: absolute;
            cursor: default;
            right: 20px;
            top: 20px;
        }

        .social-share {
            display: inline-flex;
            padding: 10px 25px;
            border: none;
            vertical-align: middle;
            align-items: center;
            justify-items: center;
            font-size: 1em;
            font-weight: bold;
            cursor: pointer;
            border-radius: 4px;
            color: white;
            background-color: blue;
            svg {
                margin-left: .5em;
            }
        }
        
        .clipboard {
            opacity: 0;
            transition: opacity .5s ease-out;
            font-weight: bold;
            margin-left: 1em;
        }

        .clipboard.active {
            opacity: 1;
        }

    }

}

.slide {
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;

    &.in {
        opacity: 1;
        max-height: 150px;
        visibility: visible;
    }

}

.supplement {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    row-gap: 2em;

    h2 {
        margin-top: 0;
    }
    
    section {

        &.legend {

            @include medium-up {
                display: grid;
                grid-template-rows: auto 1fr;
                grid-template-columns: repeat(4, 1fr);
            }

            h2 {
                grid-column: 1/-1;
            }

        }

        background-color: #555;
        padding: 2em;
        border-radius: 1em;
        section {
            padding: 0;
        }
    }
}