:-webkit-full-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

:-moz-full-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

:-ms-fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

:fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.world {
    background-color: #555;
}

#settings-bar {

    background-color: #1A1A1A;
    width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    overflow: hidden;
    max-height: 60px;
    transition: max-height 1s ease-in;

    &.inactive {
        max-height: 0;
        transition: max-height 1s ease-out;
    }

    .button {
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 0;
        margin: 1ex;
        border: none;
        overflow: hidden;
        background: transparent;

        &.active {
            svg .strike {
                fill: tomato;
            }
        }

        svg {
            width: 24px;
            height: 24px;

            path, polygon {
                stroke: AAA;
                fill: AAA;
            }

            &:hover {

                path, polygon {
                    stroke: white;
                    fill: white;
                }

                cursor: pointer;

            }

        }

    }

}

#game-area {

    background-color: #555;
    width: 800px;
    height: 640px;
    position: relative;
    margin: 0 auto;

    .start {
        display: flex;
        width: 800px;
        height: 640px;
        background-color: black;
        color: white;
        font-size: 12pt;
        font-family: monospace;
        align-content: center;
        align-items: center;
        gap: 30px;
        justify-content: center;
        flex-direction: column;

        .instructions {
            font-weight: bold;
            font-size: 1.2em;
            display: inline-block;
        }

        .keyboard-required {
            opacity: 0;
            transition: opacity 5s ease-out;
            color: silver;
            display: inline-block;
        }

        .keyboard-required.active {
            opacity: 1;
        }

        img {
            width: 32px;
        }
    }

    canvas {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .alert {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,.9);
        box-shadow: 0 0 50px rgba(0,0,0,.25);
        color: black;

        .wrapper {
            padding: 20px;
        }

        .close {
            position: absolute;
            cursor: default;
            right: 20px;
            top: 20px;
        }

        .social-share {
            display: inline-flex;
            padding: 10px 25px;
            border: none;
            vertical-align: middle;
            align-items: center;
            justify-items: center;
            font-size: 1em;
            font-weight: bold;
            cursor: pointer;
            border-radius: 4px;
            color: white;
            background-color: blue;
            svg {
                margin-left: .5em;
            }
        }
        
        .clipboard {
            opacity: 0;
            transition: opacity .5s ease-out;
            font-weight: bold;
            margin-left: 1em;
        }

        .clipboard.active {
            opacity: 1;
        }

    }

}

.slide {
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;

    &.in {
        opacity: 1;
        max-height: 150px;
        visibility: visible;
    }

}
