<section class="legend">
    <h2>Legend</h2>

    <section class="items">
        <h3>Items</h3>
        <ul>
            <li><span class="symbol ammo">ä</span> Ammo</li>
            <li><span class="symbol gem">♦</span> Gem</li>
            <li><span class="symbol torch">¥</span> Torch</li>
            <li><span class="symbol key">♀</span> Key</li>
        </ul>
    </section>

    <section class="objects">
        <h3>Objects</h3>
        <ul>
            <li><span class="symbol passage">≡</span> Passage</li>
            <li><span class="symbol locked-door">◙</span> Locked&nbsp;Door</li>
            <li><span class="symbol bomb">♂</span> Bomb</li>
            <li><span class="symbol conveyor">/</span> Conveyor</li>
            <li><span class="symbol teleporter">&gt;</span> Teleporter</li>
            <li><span class="symbol duplicator">○</span> Duplicator</li>
            <li><span class="symbol boulder">■</span> Boulder</li>
            <li><span class="symbol slider">↕</span> Slider</li>
            <li><span class="symbol ricochet">*</span> Ricochet</li>
        </ul>
    </section>

    <section class="creatures">
        <h3>Creatures</h3>
        <ul>
            <li><span class="symbol lion">Ω</span> Lion</li>
            <li><span class="symbol tiger">π</span> Tiger</li>
            <li><span class="symbol bear">Ö</span> Bear</li>
            <li><span class="symbol ruffian">♣</span> Ruffian</li>
            <li><span class="symbol centipede">Θ</span> Centipede</li>
            <li><span class="symbol snake">δ</span> Snake</li>
            <li><span class="symbol spider">☼</span> Spider</li>
        </ul>
    </section>

    <section class="terrain">
        <h3>Terrain</h3>
        <ul>
            <li><span class="symbol wall">▓</span> Wall</li>
            <li><span class="symbol breakable-wall">▒</span> Breakable&nbsp;Wall</li>
            <li><span class="symbol water">░</span> Water</li>
            <li><span class="symbol river">►</span> River</li>
            <li><span class="symbol forest">▒</span> Forest</li>
        </ul>
    </section>

</section>
